body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 95%;
}

.top {
    height: 200px;
    background: url('../images/bgsky3.jpg') no-repeat center/cover;
    text-align: center;
    position: relative;
    color: darkblue;
}

.headertitle1 {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

.headertitle2 {
    font-size: 240%;
    font-weight: bold;
    margin-top: 10px;
}

.vliegtuig {
    position: absolute;
    bottom: 60px;
    right: 250px;
    z-index: 10;
}

/* Nieuwssectie */
.news {
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    color: #666666;
    font-size: 90%;
    float: right;
}

.news h3 {
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
    padding: 5px;
    margin-bottom: 10px;
}

/* Hoofdsectie */
.main {
    width: 74.8%;
    display: inline-block;
}

.logo img {
    margin: 20px auto;
}

.introduction {
    background-color: white;
    color: black;
    padding: 20px 30px;
    text-align: justify;
    float: left;
}

.introduction b {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.introduction .span {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    background-color: #dddddd;
}

.gallery .foto {
    width: 180px;
    height: 180px;
    border: 1px dashed #999999;
    background-color: white;
    padding: 10px;
}

/* Onderaan ("bottom") */
section {
    clear: both;
    background-color: #666666;
    color: white;
    line-height: 2em;
    padding: 20px 120px;
}

section a {
    color: white;
    text-decoration: none;
}

section a:hover {
    color: red;
}

.bottom {
    background-color: #666666;
}

.column {
    display: inline-block;
}

footer {
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 0;
    margin-top: 20px;
}
